NODE_ENV=YOUR_ENV_VARIABLE
PORT=4040
DATABASE=DB_CONNECTION_STRING_FROM_YOUR_MONGODB_CLUSTER
DATABASE_PASSWORD=DB_PASSWORD_FROM_MONGODB_ATLAS

JWT_SECRET=CREATE_YOUR_OWN_SECURE_32CHARACTER_SECRETKEY
JWT_EXPIRES_IN=DURATION_BEFORE_JWT_EXPIRES       //ex: 10d
JWT_COOKIE_EXPIRES_IN=DURATION_BEFORE_JWT_COOKIE_EXPIRES       //ex: 10

EMAIL_USERNAME=your_email_credential_from_mailtrap
EMAIL_PASSWORD=your_password_credential_from_mailtrap
EMAIL_HOST=your_host_credential_from_mailtrap
EMAIL_PORT=your_port_credential_from_mailtrap

EMAIL_FROM=email_sender_email
EMAIL_FROM_PROD=email_sender_email_production

SENDGRID_USERNAME=username_from_sendgrid
SENDGRID_PASSWORD=password_from_sendgrid