footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natours logo')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Become a guide
    li: a(href='#') Careers
    li: a(href='#') Contact
  p.footer__copyright &copy; by Jonas Schmedtmann. Feel free to use this project for your own purposes, EXCEPT producing your own course or tutorials!
<div class="description">Built by <a class="link" href="https://github.com/chlzslvdr" target="_blank" rel="noopener noreferrer">CHELZEA SALVADOR</a> while learning an online course on <a class="link" href="https://github.com/jonasschmedtmann/complete-node-bootcamp" target="_blank" rel="noopener noreferrer">Node.js, Express, MongoDB & More: The Complete Bootcamp 2022</a></div>